# Project
.vscode/
.dub/
dub*.s
__dummy.html
/bin/
/docs/
/alicedbg
alicedbg-test-*
*.pdb
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.o
*.obj
*.lst
*.json
*.log

# C headers
/include/

# Personal stuff
/notes/
/o/

# Temporary commit message (git commit -t)
MSG

# AFL stuff
/testcases/
/findings/
