# Project
.vscode/
.dub/
dub*.s
__dummy.html
/bin/
/docs/
/alicedbg
alicedbg-test-*
*.json
*.log
*.lst

# Executable objects
*.dll
*.dylib
*.so
*.exe

# Debug objects
*.pdb
*.dbg

# Library archives and objects
*.lib
*.a
*.obj
*.o

# Archives
*.zip
*.tar.*

# C headers
/include/

# Personal stuff
/notes/
/o/

# Temporary commit message (git commit -t)
MSG

# AFL stuff
/testcases/
/findings/
