# Project
.vscode/
.dub/
__dummy.html
bin/
docs/
examples/
/alicedbg
alicedbg.so
alicedbg.dylib
alicedbg.dll
alicedbg.a
alicedbg.lib
alicedbg-test-*
*.exe
*.o
*.obj
*.lst
*.json
dub*.s

# Stuff not ready yet
include

# Personal notes
NOTES

# Commit message (git commit -t)
MSG

# AFL stuff
testcases/
findings/
